body {
    background-color: rgb(42, 42, 42);
}

.intro{
    margin: 0;
    width: 100%;
}

#intro_img{
    text-align: center;
}


h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.Menu_cabecera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Boton_cabecera{
    display: flex;
    align-items: center;
    background-color: red;
    border-color: rgb(183, 0, 255);
    border: 100ch;
    margin: 0, 2.5%;
    padding: 2.5%;
}
.Content_logo{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0%;

}
.logo{
    width: 20%;
    padding: 0.5%;
}

